.wrapper {
	height: 300px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: blue;
	flex-grow: 1;
	border-radius: 5px;
	padding: 30px;
}

.login-form input{
	display: block;
	margin: 10px 0px;
}

.signup {
	min-height: calc(100vh - 150px);
}