.banner {
	height: 600px;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
}


#subtitle {
	color: whitesmoke;
	font-weight: 400;
	font-family: Roboto, "Open Sans", Helvetica, sans-serif;
	margin: 0px 10px;
}

#title {
	color: white;
	font-size: 4rem;
	font-family: Roboto, "Open Sans", Helvetica, sans-serif;
}

.signIns {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
